<!DOCTYPE html>
<html>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>休闲鞋生产线云平台实时看板</title>
    <link href="css/element.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/index.css">
	<body>
		<!--header-->
		<div class="header">
		    <div class="bg_header">
		        <div class="header_nav fl t_title">
		            	休闲鞋生产线云平台统计看板
		        </div> 
		    </div>
		</div>
		<!--main-->
		<div id="main" class="data_content">
		    <div class="data_main data_bottom" style="height:auto;">
		        <div class="main_left" style="width:100%;">
		            <div class=" " >
		                <!--左上边框-->
		                <div class="t_line_box">
		                    <i class="t_l_line"></i> 
		                    <i class="l_t_line"></i> 
		                </div> 
		                <!--右上边框-->
		                <div class="t_line_box">
		                    <i class="t_r_line"></i> 
		                    <i class="r_t_line"></i> 
		                </div> 
		                <!--左下边框-->
		                <div class="t_line_box">
		                    <i class="l_b_line"></i> 
		                    <i class="b_l_line"></i> 
		                </div> 
		                    <!--右下边框-->
		                    <div class="t_line_box">
		                    <i class="r_b_line"></i> 
		                    <i class="b_r_line"></i> 
		                </div> 
		                <div class="main_title">
		                    <img src="img/t_1.png" alt="">
		                  	月产线综合效率
		                </div>
		                <div id="chart_1" class="chart" style="width:100%;height: 280px;"></div>
		            </div>
		            
		            
		            <div class="left_2 fl" style="cursor: pointer;width:30%;display:inline-block;height:602px;">
		                <!--左上边框-->
		                <div class="t_line_box">
		                    <i class="t_l_line"></i> 
		                    <i class="l_t_line"></i> 
		                </div> 
		                <!--右上边框-->
		                <div class="t_line_box">
		                    <i class="t_r_line"></i> 
		                    <i class="r_t_line"></i> 
		                </div> 
		                <!--左下边框-->
		                <div class="t_line_box">
		                    <i class="l_b_line"></i> 
		                    <i class="b_l_line"></i> 
		                </div> 
		                    <!--右下边框-->
		                    <div class="t_line_box">
		                    <i class="r_b_line"></i> 
		                    <i class="b_r_line"></i> 
		                </div> 
		                <div class="main_title">
		                    <img src="img/t_2.png" alt="">
		                    	设备效率
		                </div>
		                <div class="main_table t_btn2">
		                    <table>
		                        <thead>
		                        <tr>
		                        	<th>工位名称</th>
		                        	<!--th>稼动率</th> 
		                            <th>利用率</th>
		                            <th>时间开动率</th-->
		                            <th>七日稼动率</th> 
		                            <th>七日利用率</th>
		                            <th>七日时间开动率</th>
		                        </tr>
		                        </thead>
		                        <tbody>
		                        <tr v-for="m in devices">
		                        	<td>{{m.stationname}}</td>
		                            <!--td>{{m.dev_activation}}</td>
		                            <td>{{m.dev_plan_activation}}</td>
		                            <td>{{m.dev_time_activation}}</td-->
		                            <td>{{m.dev_activation7}}</td>
		                            <td>{{m.dev_plan_activation7}}</td>
		                            <td>{{m.dev_time_activation7}}</td>
		                        </tr> 
		                        </tbody>
		                    </table>
		                </div>
		            </div>
		            
		            
	
	            	<!--div class="left_2 fl" style="cursor: pointer;width:20%;display:inline-block;margin-left:25px;">

		                <div class="t_line_box">
		                    <i class="t_l_line"></i> 
		                    <i class="l_t_line"></i> 
		                </div> 

		                <div class="t_line_box">
		                    <i class="t_r_line"></i> 
		                    <i class="r_t_line"></i> 
		                </div> 

		                <div class="t_line_box">
		                    <i class="l_b_line"></i> 
		                    <i class="b_l_line"></i> 
		                </div> 

		                    <div class="t_line_box">
		                    <i class="r_b_line"></i> 
		                    <i class="b_r_line"></i> 
		                </div> 
		                <div class="main_title">
		                    <img src="img/t_2.png" alt="">
		                    	产线效率
		                </div>
		                <div id="chart_2" class="chart t_btn9" style="width:100%;height: 280px;"></div>
		            </div-->
		            
		            
		            <div class="left_2 " style="cursor: pointer;width:68.6%;display:inline-block;margin-left:1.4%;">
		                <!--左上边框-->
		                <div class="t_line_box">
		                    <i class="t_l_line"></i> 
		                    <i class="l_t_line"></i> 
		                </div> 
		                <!--右上边框-->
		                <div class="t_line_box">
		                    <i class="t_r_line"></i> 
		                    <i class="r_t_line"></i> 
		                </div> 
		                <!--左下边框-->
		                <div class="t_line_box">
		                    <i class="l_b_line"></i> 
		                    <i class="b_l_line"></i> 
		                </div> 
		                    <!--右下边框-->
		                    <div class="t_line_box">
		                    <i class="r_b_line"></i> 
		                    <i class="b_r_line"></i> 
		                </div> 
		                <div class="main_title">
		                    <img src="img/t_2.png" alt="">
		                    	工位加工周期
		                </div>
		                <div id="chart_3" class="chart t_btn9" style="width:100%;height: 280px;"></div>
		            </div>
		            
		            
	               <div class="bottom_1 t_btn5" style="margin-top:35px;margin-left:1.4%;cursor: pointer;width:68.6%;display:inline-block;">
			            <!--左上边框-->
			            <div class="t_line_box">
			                <i class="t_l_line"></i> 
			                <i class="l_t_line"></i> 
			            </div> 
			            <!--右上边框-->
			            <div class="t_line_box">
			                <i class="t_r_line"></i> 
			                <i class="r_t_line"></i> 
			            </div> 
			            <!--左下边框-->
			            <div class="t_line_box">
			                <i class="l_b_line"></i> 
			                <i class="b_l_line"></i> 
			            </div> 
			                <!--右下边框-->
			                <div class="t_line_box">
			                <i class="r_b_line"></i> 
			                <i class="b_r_line"></i> 
			            </div>
			            <div class="main_title">
			                <img src="img/t_6.png" alt="">
			                	设备报警
			            </div>
			            <div class="main_table t_btn2">
		                    <table>
		                        <tbody>
		                        <tr v-for="(m,i) in devWarn" style="height:28px;">
		                        	<td v-for="(n,j) in m" :class="{'text-left':j==0}">{{n}}</td>
		                        </tr> 
		                        </tbody>
		                    </table>
		                </div>
			        </div>
		           
		        </div>
		
		    </div>
	
		</div>
	</body>
	<script src="js/jquery-2.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/vue.js"></script>
	<script src="js/element.js"></script>
	<script src="js/config.js"></script>
	<script src="js/echarts.min.js"></script>
	<script src="js/index2.js"></script>

</html>
